// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
span {
  border: 1px solid #fbd46d;
  background-color: #4f8a8b;
  color: #fbd46d;
  font-weight: bold;
  padding: 30px;
  text-align: center;
  border-radius: 5px;
//   margin: 30px 10px;

}

h1 {
  margin-bottom: 50px;
}

.form {
  margin-top: 50px;
}